@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');

#site-title a {
  color: white;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 2em;
  padding-left: 0.5em;
  transition: 0.2s;
}

#site-title a:hover {
  text-shadow: 2px 2px 8px #8400FF;
}

.top-bar ul {
  background-color: #C280FF;
}

.menu li.header-link a {
  color: white;
  font-family: 'Cabin Sketch', sans-serif;
  padding-left: 1em;
  font-size: 2em;
  transition: 0.25s;
}

.menu li.header-link a:hover {
  color: #8400FF;
}

.enter-buttons li {
  list-style: none;
}

.enter-buttons input {
  background-color: #F59A23;
  border: none;
  color: white;
  margin: 0.25em;
  border-radius: 4px;
  padding: 0.75em;
  width: 10em;
  height: 3em;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: 0.25s;
  margin-top: 1em;
  text-align: center;
}

.enter-buttons input:hover {
  background-color: #FACD91;
  cursor: pointer;
}

.header {
  background-color: #C280FF;
}

.header li {
  background-color: #C280FF;
}

.animal-tile {
  background-color: #8400FF;
  border-radius: 15px;
  margin: 1em;
  max-width: 265px;
  padding: auto;
  box-shadow: 5px 10px 8px #888888;
}

.animal-tile h4 {
  font-family: 'Bree Serif', sans-serif;
  color: white;
  margin-bottom: 0;
}

.animal-tile h5 {
  font-family: 'Bree Serif', sans-serif;
  color: #FACD91;
}

.detail-button {
  background-color: #70B603;
  border: none;
  color: white;
  border-radius: 4px;
  padding: auto;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  max-width: 175px;
}

.detail-button:hover {
  background-color: #CAF982;
}

.detail-button-container {
  text-align: center;
}

.animal-tile-image {
  text-align: center;
}

.animal-tile-image img {
  border: 3px solid white;
}

.animal-image-sizer {
  width: 200px;
}

.welcome-header {
  font-family: 'Bree Serif', serif;
  color: #508308;
  border-bottom: 2px solid #8400FF;
  padding-bottom: 15px;
  padding-top: 15px;
}

.welcome-text {
  font-size: 1.15em;
  padding-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 15px;
}
