.profile-pic {
  max-width: 200px;
  max-height: 300px;
  margin: auto;
}

.profile-div {
  margin-top: 60px;
}

.profile-div h2 {
  font-family: 'Cabin Sketch', cursive;
  border-bottom: 2px solid #8400FF;
  text-align: center;
  padding-bottom: 5px;
}

.username {
  text-align: center;
  font-size: 2em;
}

.animal-list {
  font-size: 1.5em;
}

.animal-date {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1.25em;
  background-color: #F0F0F0;
  padding-left: 2em;
  border-left: 2em solid #c0c0c0;
}

.profile-card {
  border-style: none;
}

.nav-bar-pic {
  max-width: 90px;
  max-height: 90px;
}
