.hide-review-form {
  display: none;
}

.display-review-form {
  display: contents;
}

.animal-image {
  margin-top: 70px;
  min-width: 50%;
}

.show-div {
  margin: auto 50px auto 50px;
  padding: 2em;
}

.show-div h2, h3 {
  font-family: 'Cabin Sketch', cursive;
  border-bottom: 1px solid #8400FF;
  text-align: center;
}

ul {
  list-style: none;
}

.review-tile {
  border-bottom: 1px solid black;
  margin: 2em;
  // margin: 0 auto;
  // width: 100%;
}

.review-tile h4 {
  font-family: 'Bree Serif', serif;
  color: black;
  margin-bottom: 0;
}

.review-tile h5 {
  font-family: 'Bree Serif', serif;
  color: #FACD91;
  text-align: justify;
  border: none;
}

.review-tile ul {
  list-style: none;
}

.review-container {
  margin: auto;
}

.review-button {
  margin-left: 12em;
}

.review-button button {
  background-color: #F59A23;
  border: none;
  color: white;
  margin: 0.25em;
  border-radius: 4px;
  padding: 0.75em;
  width: 10em;
  height: 3em;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: 0.3s;
  margin-top: 1em;
  text-align: center;
}

.review-button button:hover {
  background-color: #FACD91;
  cursor: pointer;
}

.attribute {
  font-weight: bold;
}

.admin-buttons button {
  background-color: #F59A23;
  border: none;
  color: white;
  margin: 0.1em;
  border-radius: 4px;
  padding: 0.5em;
  width: 5em;
  height: 2em;
  text-transform: uppercase;
  font-size: 0.6em;
  transition: 0.3s;
  margin-top: 1em;
  text-align: center;
}

.vote-number {
  padding: .5em;
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}

.upvote {
  color: #8DB87A;
}

.downvote {
  color: #F87D7D;
}
